html * {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    position: relative;
    background: #c5c5c5;
}

div.container a {
    text-decoration: none;
}

div.container a:hover {
    color: #730046;
}


h1 {
    font-family: "Oswald", sans-serif !important;
    font-variant: small-caps;
}

h1 a:visited {
    color: #666;
}

.container {
    width: 950px;
    margin: auto;
}

#header .container {
    font-family: "Oswald", sans-serif;
    font-variant: small-caps;
}

ul.submenu {
}

ul.submenu li {
    display: inline;
}

ul.submenu li:first-child {
    margin-right: 50px;
}

ul.submenu li a {
    color: white;
    font-family: "Oswald", sans-serif;
    font-variant: small-caps;
    text-decoration: none;
}

ul.submenu li a:hover {
    color: #ddd;
}

/* Sidebar style */

#sidebar {
    float: right;
    width: 200px;
    margin: 0em 2em 2em 1.5em;
    background: inherit;
}

#sidebar h2 {
    font-family: "Oswald", sans-serif;
    font-variant: small-caps;
}

.filter-list {
    margin-left: 0;
    font-variant: small-caps;
    list-style-type: none;
    margin-bottom: 20px;
}

.filter-list li:first-child a {
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.filter-list li:last-child a {
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

.filter-select {
    padding: 10px;
}

.filter-select select {
    width: 100%;
}

.filter-list li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255, .3);
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255, .3);
    color: #666;
}

.filter-list li a span {
    float: right;
    font-size: 0.7em;
    background: white;
    padding: 2px;
    border-radius: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.filter-list li a:hover  {
    background: rgba(131,136,142, .10);
    color: white;
    text-shadow: #000;
    -moz-box-shadow: inset 0 1px 1px #000, 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 1px #000, 0 1px 0 #fff;
}

.filter-list li a:hover span {
    color: #666;
    background: #ddd;
}


.filter-list li.active a {
    background: #229b44;
    color: #fff;
    text-shadow: 0 -1px 0 #8c2a00;
    border-top: 1px solid rgba(0,0,0, .2);
    border-bottom: 1px solid rgba(0,0,0, .2);
    -moz-box-shadow: inset 0 0 1px #229b44, 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 0 1px #229b44, 0 1px 0 #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feca80', endColorstr='#e88801'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#feca80), to(#e88801)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #feca80,  #e88801); /* for firefox 3.6+ */
    }

.filter-list li.active a span {
    color: #730046;
    text-shadow: none;
}

.filter-list li:first-child.active a {
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0, .30);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0, .30);
}

.filter-list li:first-child a:hover, .filter-list li:first-child.active a {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    border-top: 0;
}

.filter-list li:last-child a:hover, .filter-list li:last-child.active a {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    border-bottom: 0;
    -moz-box-shadow: none;
}

.filter-list li:first-child:last-child.active a {
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .30);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .30);
    }

.filter-list li:first-child:last-child a:hover, .filter-list li:first-child:last-child.active a {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.filter-list li.active a { font-weight: bold; }
dl.flat {
    margin-bottom: 1em;
}
/* End Sidebar style */

#body {
    background: white;
    max-width: 100%;
    overflow: hidden;
    margin: 2em 0 2em 0;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 1px 4px #C5C5C5;
    -webkit-box-shadow: 0 1px 4px #C5C5C5;
    box-shadow: 01px 4px #C5C5C5;
    min-height: 800px;
}

#navbar {
    text-align: center;
    color: white;
    position: relative;
    background: #e0ebff; 
    border-bottom:1px solid #ddd;
    background: #555; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#222222)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #555,  #222); /* for firefox 3.6+ */
    height: 25px;
}

h4 {
    font-variant: small-caps;
    font-size: 1.2em;
    display: inline;
    margin-right: 50px;
}

span.category {
    margin-right: 75px;
    font-variant: small-caps;
    font-size: 0.9em;
}

ul.entries {
    list-style-type: none;
    clear: both;
}

.entries li {
    padding: 8px;
    position: relative;
    padding-right: 50px;
    overflow: hidden;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.entries .row:hover {
    background-color: #999;
}

span.action {
    width: 28px;
    vertical-align: top;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 4px;
    line-height: 19px;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
}

li.row {
    background: #f4f4f5;
}

.user, .objrepr {
    font-size: 0.9em;
    white-space: nowrap;
    color: #bbb;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
}

.user {
    float: left;
}

.objrepr {
    float: right;
}

a.userlink, a.objlink {
    text-decoration: none;
    color: #444;
}

a.userlink:hover, a.objlink:hover {
    color: #730046;
}

.changemsg {
    font-size: 0.9em;
    white-space: nowrap;
    font-variant: small-caps;
}

.action.addition {
    background:-moz-linear-gradient(center top , #bfbb11, #7ba012) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#bfbb11), to(#7ba012));
}

.action.change {
    background: #ff7800;
    background:-moz-linear-gradient(center top , #ffc200, #b28900) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffc200), to(#b28900));
}

.action.deletion {
    background: #ff5400;
    background:-moz-linear-gradient(center top , #fed2bf, #C93C00) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fed2bf), to(#C93C00));
}

/* Paging style */

.paging-wrap, .paging-bottom {
    float: left;
    display: inline;
    width: 100%;
    font-family: "Oswald", sans-serif;
}

.paging-wrap {
    margin-bottom: 10px;
}

.paging-bottom {
    margin-top: 10px;
}

.paging-endless {
    float: left;
    display: inline;
    margin-right: 0;
    list-style: none;
}

.paging-endless li {
    float: left;
    display: inline;
    margin-right: 15px;
}

.paging-endless li span {
    display: inline-block;
    padding: 6px 8px 6px 8px;
    color: #aaa;
    font-size: 12px;
    line-height: 17px;
    border:1px solid #ddd;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    opacity: 0.75;
    border-radius: 6px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DCDCDC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DCDCDC)); /* for webkit browsers */
    background:-moz-linear-gradient(center top , #FFFFFF 0pt, #DCDCDC 100%) repeat scroll 0 0 transparent;
    font-weight: bold;
    font-variant: small-caps;
}

.paging-meta {
    font-variant: small-caps;
    padding: 6px 8px;
    display: inline;
    float: right;
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 17px;
    color: #aaa;
    font-weight: bold;
}

.paging-endless li a {
    display: inline-block;
    padding: 6px 8px 6px 8px;
    color: #000;
    font-size: 12px;
    line-height: 17px;
    border:1px solid #ddd;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    opacity: 0.75;
    border-radius: 6px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DCDCDC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DCDCDC)); /* for webkit browsers */
    background:-moz-linear-gradient(center top , #FFFFFF 0pt, #DCDCDC 100%) repeat scroll 0 0 transparent;
    font-weight: bold;
    font-variant: small-caps;
}

.paging-endless li a:hover {
    color: white;
    text-shadow: #8c2a00;
    background: -webkit-gradient(linear, left top, left bottom, from(#feca80), to(#e88801)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #feca80,  #e88801); /* for firefox 3.6+ */
    font-weight: bold;
    font-variant: small-caps;
}

/* End paging style */

/* Chart style */

div#chart {
    margin-bottom: 20px;
}

tspan {
    font-variant: small-caps;
    font-family: "Oswald", sans-serif;
}

