html * {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    position: relative;
    background: #c5c5c5;
}

h1 {
    font-family: "Oswald", sans-serif !important;
    font-variant: small-caps;
}

h1 a {
    text-decoration: none;
}

h1 a:visited {
    color: black;
}

h1 a:hover {
    color: #006ca3;
}

.container {
    width: 1500px;
    margin: auto;
}

#header .container {
    font-family: "Oswald", sans-serif;
    font-variant: small-caps;
}

#sidebar {
    float: right;
    width: 300px;
    margin: 0em 2em 2em 1.5em;
    background: inherit;
    overflow: hidden;
}

#sidebar h2 {
    font-family: "Oswald", sans-serif;
    font-variant: small-caps;
}

.filter-list { margin-left: 0; text-transform: lowercase; }

.filter-select {
    padding: 10px;
}

.filter-select select {
    width: 100%;
}

.filter-list li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0, .05);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255, .3);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, .3);
    font-weight: bold;
    color: #666;
}

.filter-list li a:hover  {
    background: rgba(131,136,142, .10);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0, .1);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0, .1);
}

.filter-list li.active a {
    background: #229b44;
    color: #fff;
    text-shadow: 0 -1px 0 #3079d0;
    border-top: 1px solid rgba(0,0,0, .2);
    border-bottom: 1px solid rgba(0,0,0, .2);
    -moz-box-shadow: inset 0 0 1px #229b44, 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 0 1px #229b44, 0 1px 0 #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89d151', endColorstr='#229b44'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#89d151), to(#229b44)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #89d151,  #229b44); /* for firefox 3.6+ */
    }

.filter-list li:first-child.active a {
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0, .30);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0, .30);
    }

.filter-list li:first-child a:hover, .filter-list li:first-child.active a {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    border-top: 0;
}

.filter-list li:last-child a:hover, .filter-list li:last-child.active a {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    border-bottom: 0;
    -moz-box-shadow: none;
}

.filter-list li:first-child:last-child.active a {
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .30);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .30);
    }

.filter-list li:first-child:last-child a:hover, .filter-list li:first-child:last-child.active a {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.filter-list li.active a { font-weight: bold; }
dl.flat {
    margin-bottom: 1em;
}

#body {
    background: white;
    max-width: 100%;
    overflow: hidden;
    margin: 2em 0 2em 2em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 1px 4px #C5C5C5;
    -webkit-box-shadow: 0 1px 4px #C5C5C5;
    box-shadow: 01px 4px #C5C5C5;
    padding: 20px 20px 0;
    min-height: 800px;
}

#navbar {
    text-align: center;
    color: white;
    position: relative;
    background: #e0ebff; 
    border-bottom:1px solid #ddd;
    background: #555; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#222222)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #555,  #222); /* for firefox 3.6+ */
    height: 25px;
}

h4 {
    font-variant: small-caps;
    font-size: 1.2em;
    display: inline;
    margin-right: 50px;
}

span.category {
    margin-right: 75px;
    font-variant: small-caps;
    font-size: 0.9em;
}

.container #body {
    padding: 20px;
}

ul.entries {
    list-style-type: none;
}

.entries li {
    padding: 8px;
    position: relative;
    padding-right: 50px;
    overflow: hidden;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.entries .row:hover {
    background-color: #999;
}

span.action {
    width: 28px;
    vertical-align: top;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 4px;
    line-height: 19px;
    color: #fff;
    display: inline-block;
    margin;right: 5px;
}

li.row {
    background: #f4f4f5;
}

.user, .objrepr {
    font-size: 0.9em;
    white-space: nowrap;
    color: #bbb;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
}

.user {
    float: left;
}

.objrepr {
    float: right;
}

a.userlink, a.objlink {
    text-decoration: none;
    color: #bbb;
}

a.userlink:hover, a.objlink:hover {
    color: #006ca3;
}

.changemsg {
    font-size: 0.9em;
    white-space: nowrap;
    font-variant: small-caps;
}

.action.addition {
    background:-moz-linear-gradient(center top , #58d748, #118c00) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#58d748), to(#118c00));
}

.action.update {
    background: #ff7800;
    background:-moz-linear-gradient(center top , #efd57c, #e0ae00) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#efd57c), to(#e0ae00));
}

.action.deletion {
    background: #ff5400;
    background:-moz-linear-gradient(center top , #F16C7C, #BF404F) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F16C7C), to(#BF404F));
}
/* User page style */

#subhead {
    margin: 0px 10px 5px 45px;
    font-variant: small-caps;
}

#subhead h1 {
    font-size: 3.3em;

}

span.username {
}

/* Drop-down menu style */

ul.topnav {
    display: inline;
    list-style: none;
    padding: 0 20px;
    margin: 0 0 0 8px;
    width: 560px;
    background: #555; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#222222)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #555,  #222); /* for firefox 3.6+ */
    font-size: 0.9em;
    font-variant: small-caps;
    float:right;
/*    background: url(topnav_bg.gif) repeat-x;*/
}
ul.topnav li {
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    z-index: 1000;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
ul.topnav li a:hover{
    background: url(topnav_hover.gif) no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
    width: 17px;
    height: 24px;
    float: left;
/*    background: url(subnav_btn.gif) no-repeat center top;*/
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 35px;
    background: #333;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 170px;
    border: 1px solid #111;
}
ul.topnav li ul.subnav li{
    margin: 0; padding: 0;
    border-top: 1px solid #252525; /*--Create bevel effect--*/
    border-bottom: 1px solid #444; /*--Create bevel effect--*/
    clear: both;
    width: 170px;
}
html ul.topnav li ul.subnav li a {
    float: left;
    width: 145px;
    background: #333 url(dropdown_linkbg.gif) no-repeat center;
    padding-left: 8px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
/*    background: #222 url(dropdown_linkbg.gif) no-repeat 10px center;*/
}

/* Paging style */

.paging-wrap, .paging-bottom {
    float: left;
    display: inline;
    width: 100%;
    font-family: "Oswald", sans-serif;
}

.paging-wrap {
    margin-bottom: 10px;
}

.paging-bottom {
    margin-top: 10px;
}

.paging-endless {
    float: left;
    display: inline;
    margin-right: 0;
    list-style: none;
}

.paging-endless li {
    float: left;
    display: inline;
    margin-right: 15px;
}

.paging-endless li span {
    display: inline-block;
    padding: 6px 8px 6px 8px;
    color: #aaa;
    font-size: 12px;
    line-height: 17px;
    border:1px solid #ddd;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    opacity: 0.75;
    border-radius: 6px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DCDCDC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DCDCDC)); /* for webkit browsers */
    background:-moz-linear-gradient(center top , #FFFFFF 0pt, #DCDCDC 100%) repeat scroll 0 0 transparent;
    font-weight: bold;
    font-variant: small-caps;
}

.paging-meta {
    font-variant: small-caps;
    padding: 6px 8px;
    display: inline;
    float: right;
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 17px;
    color: #aaa;
    font-weight: bold;
}

.paging-endless li a {
    display: inline-block;
    padding: 6px 8px 6px 8px;
    color: #000;
    font-size: 12px;
    line-height: 17px;
    border:1px solid #ddd;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    opacity: 0.75;
    border-radius: 6px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DCDCDC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DCDCDC)); /* for webkit browsers */
    background:-moz-linear-gradient(center top , #FFFFFF 0pt, #DCDCDC 100%) repeat scroll 0 0 transparent;
    font-weight: bold;
    font-variant: small-caps;
}

.paging-endless li a:hover {
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#00d3c1), to(#00675e));
    background:-moz-linear-gradient(center top, #00d3c1 0pt, #00675e 100%) repeat scroll 0 0 transparent;
    font-weight: bold;
    font-variant: small-caps;
}


