{% load helpertags %}

<script type="text/javascript">
var activityChart;
var options = {
    chart: {
        renderTo: 'chart',
        zoomType: 'x',
        backgroundColor: '#c5c5c5',
        height: 200,
    },
    
    title: {
        text: 'User Activity'
    },
    
    xAxis: {
        type: 'datetime',
        title: {
            text: false
        },
        dateTimeLabelFormats: {
            second: '%H:%M:%S',
            minute: '%H:%M',
            hour: '%d %b %H:%M',
            day: '%e. %b',
            week: '%e. %b',
            month: '%b \'%y',
            year: '%Y'
        }
    },
    
    yAxis: {
        title: {
            text: "# of Events"
        },
        min: 0,
        max: 100,
    },
    
    series: []
};
                  
var series = {
    data: []
};
$.each({{ log_dates.points|to_json }}, function(index, array) {
        $.each(array, function(i, val) {
                if (i == 0) {
                    series.name = new Date(val);
                } else {
                    series.data.push(parseInt(val));
                }});
    });
            
var chart1 = new Highcharts.Chart(options);
</script>

                
                    
