{% load helpertags %}

<script type="text/javascript">
var activityChart;
var 
$(document).ready(function () {
        chart1 = new Highcharts.Chart({
                chart: {
                    renderTo: 'chart',
                    zoomType: 'x',
                    backgroundColor: '#c5c5c5',
                    height: 200
                },

                title: {
                    text: 'User Activity'
                },

                xAxis: {
                    type: 'datetime',
                    title: {
                        text: false
                    },
                    dateTimeLabelFormats: {
                        second: '%H:%M:%S',
                        minute: '%H:%M',
                        hour: '%d %b %H:%M',
                        day: '%e. %b',
                        week: '%e. %b',
                        month: '%b \'%y',
                        year: '%Y'
                    }
                },

                yAxis: {
                    title: {
                        text: "# of Events"
                    },
                    min: 0,
                    max: 100,
                },

                series: [{
                        pointStart: new Date() - 90 * 360000,
                        pointInterval: 3600 * 1000,
                        type: 'area',
                        data: {{ log_dates.points|to_json }}
                }]
            });
    });
</script>

                
                    
