{% extends "sawmill/base.html" %}
{% load i18n %}
{% load helpertags %}
{% load paging_extras %}

{% block heading %}{% trans "Dashboard" %}{% endblock %}
{% block sidebar %}
{% if chart_url %}
<h2>{% trans "Last 24 Hours" %}</h2>
<img src="{{ chart_url }}" class="chart" alt="chart"/>
{% endif %}

{% for filter in filters %}
<div class="sidebar-module sidebar-module-{{ filter.column }}">
  {% if filter.show_label %}
  <h2{% if filter.label == "User" %} title="Users with no log entries on record will not be shown here"{% endif %}>{% trans filter.label %}</h2>
  {% endif %}
  <form method="get" action="{{ filter.get_query_string|safe }}">
    {{ filter.render }}
  </form>
</div>
{% endfor %}
{% endblock sidebar %}
{% block graph_js %}
{% with results|log_dates as log_dates %}
<script type="text/javascript">
var getData = function (nestedArray) {
  var arr = new Array;
  for (entry in nestedArray) {
    arr.push([nestedArray[entry][0],
              nestedArray[entry][1]]);
  };
  return arr;
};
var logDates = {{ log_dates.points|to_json }};
var maxCount = parseInt({{ log_dates.max_count }});
var chart;
$(document).ready(function () {
  chart = new Highcharts.Chart({
    chart: {
      renderTo: 'chart',
      zoomType: 'xy',
      backgroundColor: {
        linearGradient: [350, 0, 500, 500],
        stops: [
          [0, 'rgb(232, 136, 1)'],
          [1, 'rgb(254, 202, 128)']]
      },
      height: 200
    },
    
    title: {
      text: 'User Activity',
      style: {
        color: '#fff'
      }
    },
    
    xAxis: {
      type: 'datetime',
      title: {
        text: false
      },
      dateTimeLabelFormats: {
        second: '%H:%M:%S',
        minute: '%H:%M',
        hour: '%d %b %H:%M',
        day: '%e. %b',
        week: '%e. %b',
        month: '%b \'%y',
        year: '%Y'
      }
    },
    
    yAxis: {
      title: {
        text: "# of Events",
        style: {
          color: '#fff'
        }
      },
      min: 0,
      max: maxCount
    },
    
    series: [{
      name: "Log Entries",
      type: 'area',
      data: getData(logDates),
      color: '#730046',
      title: {
        text: false
      }
    }],
    
    legend: {
      enabled: false
    }
  });
});                  
</script>
{% endwith %}
{% endblock graph_js %}
{% block main %}
<div id="chart">
</div>

{% paginate results from request as results per_page 10 %}
<div class="paging-wrap">
  {{ results.paging }}
</div><!-- .paging-wrap -->
{% if results.objects %}
{% for result in results.objects %}
<ul class="entries" id="entry_list">
  <li class="row" obj_id="{{ result.object_id }}"
      model_id="{{ result.content_type.id }}">
    <span class="action {{ result.action_flag|trans_actions }}">{{ result.action_flag|abbrev}}</span>
    <div class="message user">
      <span class="changemsg">
        {% if result.change_message %}
        {{ result.change_message }}
        {% else %}
        No Change Message
        {% endif %}
      </span>
      <span class="user"><a class="userlink"
                            href="{{ result.user|get_user_admin_url }}"
                            target="_blank">{{ result.user }}</a>
      </span>
    </div><!-- .message .user -->
    <div class="time obj">
      <span class="time">{{ result.action_time|timesince }} 
        {{ result.action_time|time:"H:i:s" }}</span>
      <span class="objrepr">
        <a class="objlink" 
           href="/admin/{{ result.get_admin_url }}"
           target="_blank"
           title="{{ result.object_repr }}">
          {{ result.object_repr|truncstr:20 }}
        </a>
      </span>
    </div><!-- .time.obj -->
  </li>
</ul>
{% endfor %}
{% else %}
<div id="nil_results">
  <h1>No Results</h1>
</div>
{% endif %}
<div class="paging-bottom">
  {{ results.paging }}
</div>
{% endblock main %}

