{% extends 'sawmill/base.html' %}
{% load i18n %}
{% block extra_css %}
<link href="{% url sawmill-media 'css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}
{% block submenu %}
{% endblock submenu %}
{% block main %}
<div id="login_form">
<div class="login notice">
  <h3>You must be logged in as a superuser to proceed.</h3>
</div><!-- #notice -->
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <form method="post" action=".">
    {% csrf_token %}
    {% for field in form %}
    <div id="fname_col">{{ field.name }}</div>
    <div id="input_col">{{ field }}</div>
    {% endfor %}
    <button id="login_go" type="submit">Login</button>
  </form>
 </div><!-- #login_form -->
{% endblock main %}
    
  
