{% extends 'sawmill/base.html' %}
{% load helpertags %}

{% block graph_js %}
{% with log_group.log_dates as log_dates %}
<script type="text/javascript">
var logDates = {{ log_dates.points|to_json }};
var maxCount = parseInt({{ log_dates.max_count }});

var getColor = function () {
  var colorArray = ['#730046', '#feca80', '#bfbb11', '#7ba012', 
                    '#ffc200', '#b28900', '#fed2bf', '#c93c00'];
  return colorArray[Math.ceil(Math.random()*colorArray.length)];
};

var chart;
var logCountsByUser = {{ edit_counts|safe }};
var maxCount = parseInt({{ log_dates.max_count }});
var editors = {{ editors|safe }};
var byUserOptions = {
  chart: {
    renderTo: 'chart',
    zoomType: 'xy',
    backgroundColor: {
      linearGradient: [350, 0, 500, 500],
      stops: [
        [0, 'rgb(232, 136, 1)'],
        [1, 'rgb(254, 202, 128)']]
    },
    height: 200
  },
  
  title: {
    text: 'User Activity',
    style: {
      color: '#fff'
    }
  },
  
  xAxis: {
    categories: editors,
    title: {
      text: false
    }
  },

  yAxis: {
    title: {
      text: "# of Events",
      style: {
        color: '#fff'
      }
    },
  },
    
  series: [{
    name: "Edits by User",
    type: "bar",
    data: [],
    title: {
      text: false
    }
  }],
  legend: {
    enabled: false
  },
  tooltip: {
    formatter: function () {
      return "User: <b>" + this.x + "</b>\n" + "Events: <b>" + this.y + 
        "</b>";
    }
  }
};

for (entry in logCountsByUser) {
  byUserOptions.series[0].data.push({
    name: logCountsByUser[entry][0],
    y: logCountsByUser[entry][1],
    color: getColor()
  });
};

var byObjOptions = {
  chart: {
    renderTo: 'chart',
    zoomType: 'xy',
    backgroundColor: {
      linearGradient: [350, 0, 500, 500],
      stops: [
        [0, 'rgb(232, 136, 1)'],
        [1, 'rgb(254, 202, 128)']]
    },
    height: 200
  },
  
  title: {
    text: 'User Activity',
    style: {
      color: '#fff'
    }
  },
  
  xAxis: {
    type: 'datetime',
    title: {
      text: false
    },
    dateTimeLabelFormats: {
      second: '%H:%M:%S',
      minute: '%H:%M',
      hour: '%d %b %H:%M',
      day: '%e. %b',
      week: '%e. %b',
      month: '%b \'%y',
      year: '%Y'
    }
  },
  
  yAxis: {
    title: {
      text: "# of Events",
      style: {
        color: '#fff'
      }
    },
    min: 0,
    max: maxCount
  },
  
  series: [{
    name: "Log Entries",
    type: 'area',
    data: logDates,
    color: '#730046',
    title: {
      text: false
    }
  }],
  
  legend: {
    enabled: false
  }
};

var chartType = "obj";
$(document).ready(function () {
  
  var getOptions = function () {
    return chartType == "obj" ? byObjOptions : byUserOptions;
  };
  
  var makeChart = function () {
    var options = getOptions();
    return new Highcharts.Chart(options);
  };
  
  
  $(".chartswitch").bind('click', function () {
    if (chartType == "user") {
      chartType = "obj"; 
    } else {
      chartType = "user";
    }
    return makeChart();
  });

  chart = new makeChart();

});
</script>
{% endwith %}
{% endblock graph_js %}
{% block main %}
<div id="chart" chartby="user">
</div>
<button class="chartswitch" type="button">Change Chart Type</button>
Number of edits: {{ log_group.count }}
<br />
First edit: {{ log_group.first_edit }}
<br />
Most recent edit: {{ log_group.most_recent_edit }}
<br />
Most edits by: {{ log_group.num_edits_by }}
<br />
Name of Item: {{ log_group.name }}
<br />
{% endblock main %}
