{% extends 'sawmill/base.html' %}
{% load helpertags %}

{% block graph_js %}
{% with results|log_dates as log_dates %}
<script type="text/javascript">
var getData = function (nestedArray) {
  var arr = new Array;
  for (entry in nestedArray) {
    arr.push([nestedArray[entry][0],
              nestedArray[entry][1]]);
  };
  return arr;
};
var logDates = {{ log_dates.points|to_json }};
var maxCount = parseInt({{ log_dates.max_count }});

var getColor = function () {
  var colorArray = ['#730046', '#feca80', '#bfbb11', '#7ba012', 
                    '#ffc200', '#b28900', '#fed2bf', '#c93c00'];
  return colorArray[Math.ceil(Math.random()*colorArray.length)];
};

var chart;
var logCountsByUser = {{ edit_counts|safe }};
var maxCount = parseInt({{ log_dates.max_count }});
var editors = {{ editors|safe }};
var byUserOptions = {
  chart: {
    renderTo: 'chart',
    zoomType: 'xy',
    backgroundColor: {
      linearGradient: [350, 0, 500, 500],
      stops: [
        [0, 'rgb(232, 136, 1)'],
        [1, 'rgb(254, 202, 128)']]
    },
    height: 200
  },
  
  title: {
    text: 'User Activity',
    style: {
      color: '#fff'
    }
  },
  
  xAxis: {
    categories: editors,
    title: {
      text: false
    }
  },

  yAxis: {
    title: {
      text: "# of Events",
      style: {
        color: '#fff'
      }
    },
  },
    
  series: [{
    name: "Edits by User",
    type: "bar",
    data: [],
    title: {
      text: false
    }
  }],
  legend: {
    enabled: false
  },
  tooltip: {
    formatter: function () {
      return "User: <b>" + this.x + "</b>\n" + "Events: <b>" + this.y + 
        "</b>";
    }
  }
};

for (entry in logCountsByUser) {
  byUserOptions.series[0].data.push({
    name: logCountsByUser[entry][0],
    y: logCountsByUser[entry][1],
    color: getColor()
  });
};

var byObjOptions = {
  chart: {
    renderTo: 'chart',
    zoomType: 'xy',
    backgroundColor: {
      linearGradient: [350, 0, 500, 500],
      stops: [
        [0, 'rgb(232, 136, 1)'],
        [1, 'rgb(254, 202, 128)']]
    },
    height: 200
  },
  
  title: {
    text: 'User Activity',
    style: {
      color: '#fff'
    }
  },
  
  xAxis: {
    type: 'datetime',
    title: {
      text: false
    },
    dateTimeLabelFormats: {
      second: '%H:%M:%S',
      minute: '%H:%M',
      hour: '%d %b %H:%M',
      day: '%e. %b',
      week: '%e. %b',
      month: '%b \'%y',
      year: '%Y'
    }
  },
  
  yAxis: {
    title: {
      text: "# of Events",
      style: {
        color: '#fff'
      }
    },
    min: 0,
    max: maxCount
  },
  
  series: [{
    name: "Log Entries",
    type: 'area',
    data: getData(logDates),
    color: '#730046',
    title: {
      text: false
    }
  }],
  
  legend: {
    enabled: false
  }
};

var chartType = 'user';

$(document).ready(function () {
  
  $(".chartswitch").bind('click', function () {
      $("#chart").attr("chartby", function () {
          console.log(chartType);
          chartType = (chartType == 'user' ? 'obj' : 'user');
      });
  });
  
  $("#chart").bind('change', function () {
    alert("It changed buddy");
  });
  var getOptions = function () {
    console.log($(chart).attr("chartby"));
    return chartType =="obj" ? byObjOptions : byUserOptions;
  };

  var options = getOptions();
  chart = new Highcharts.Chart(options);


});

</script>
{% endwith %}
{% endblock graph_js %}
{% block main %}
<div id="chart">
</div>
<button class="chartswitch" type="button">Change Chart Type</button>
{% with results|log_dates as log_dates %}
Number of edits: {{ results|length }}<br />
First edit: {{ log_dates.points|get_date }}<br />
Most recent edit: {{ log_dates.points|get_date:0 }}<br />
Most edits by: {{ edit_counts|max_value:0 }}<br />
{% endwith %}
{% endblock main %}
