#login_form {
    margin: 200px auto;
    max-width: 35%;
    background: white;
    font-family: "Oswald", sans-serif;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: inset 0 1px 4px #c5c5c5;
    -webkit-box-shadow: inset 0 1px 4px #c5c5c5;
    box-shadow: 0 1px 4px #c5c5c5;
    background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#fff));
}

#login_form form {
    padding: 0 20px 20px 20px;
}

#login_form input {
    font-family: "Oswald", sans-serif;
    width: 98%;
    align: center;
    color: black;
    display: block;
    -moz-box-shadow: inset 0 1px 4px #c5c5c5;
    -webkit-box-shadow: inset 0 1px 4px #c5c5c5;
}


#fname_col {
    width: 100%;
    font-variant: small-caps;
    font-size: 1.2em;
    margin-top: 5px;
/*
    background-color: #c5c5c5;
    border-bottom: solid 2px black;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;*/
}

#notice {
    text-align: center;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-variant: small-caps;
}

