#login_form {
    margin: 200px auto;
    max-width: 35%;
    background: white;
    font-family: "Oswald", sans-serif;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: inset 0 1px 4px #c5c5c5;
    -webkit-box-shadow: inset 0 1px 4px #c5c5c5;
    box-shadow: 0 1px 4px #c5c5c5;
    background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#fff));
    background: -moz-linear-gradient(top, #c5c5c5, #fff);
}

#login_form form {
    padding: 0 20px 20px 20px;
}

#login_form input {
    font-family: "Oswald", sans-serif;
    width: 98%;
    align: center;
    color: black;
    display: block;
    -moz-box-shadow: inset 0 1px 4px #c5c5c5;
    -webkit-box-shadow: inset 0 1px 4px #c5c5c5;
}


#fname_col {
    width: 100%;
    font-variant: small-caps;
    font-size: 1.2em;
    margin-top: 5px;
}

.notice {
    text-align: center;
    width: 100%;
    font-family: "Oswald", sans-serif;
}

.notice h3 {
    font-variant: small-caps;
}

.logout.notice p {
    font-size: 1em;
}

.logout a {
    text-decoration: none;
    color: #006ca3;
    font-variant: none;
}

.logout a:hover {
    color: #0191d9;
}
    
    